ALTER    PROCEDURE [dbo].[uspDistributorItems]
	@Action VARCHAR(100) = '',
	@COMID VARCHAR(25) = '',
	@ITEMCD VARCHAR(25) = '',
	@DISTITEMCD VARCHAR(25) = '',
	@ITEMNAME VARCHAR(255) = '',
	@DISTITEMPRICE MONEY = 0,
	--@OLDDISTITEMCD VARCHAR(25) = '',
	@EFFECTIVITYSTARTDATE DATETIME = '1/1/1900',
	@EFFECTIVITYENDDATE DATETIME = '1/1/1900',
	@DISTID INT =-1,
	@ISACTIVE BIT = 1,
    	@CompanyPrice MONEY = 0
AS
IF @Action = 'SAVE' BEGIN

		INSERT INTO DistributorItems(COMID, ITEMCD, DISTITEMCD, ITEMNAME, DISTITEMPRICE, EFFECTIVITYSTARTDATE, EFFECTIVITYENDDATE, ISACTIVE, CompanyPrice)
			VALUES(@COMID, @ITEMCD, @DISTITEMCD, @ITEMNAME, @DISTITEMPRICE, @EFFECTIVITYSTARTDATE, @EFFECTIVITYENDDATE, @ISACTIVE, @CompanyPrice)

	END ELSE IF @ACTION = 'UPDATE' BEGIN
	
		UPDATE DistributorItems SET
				COMID = @COMID,
				ITEMCD = @ITEMCD,
				DISTITEMCD = @DISTITEMCD,
				ITEMNAME = @ITEMNAME,
				DISTITEMPRICE = @DISTITEMPRICE,			
				EFFECTIVITYSTARTDATE = @EFFECTIVITYSTARTDATE, 
				EFFECTIVITYENDDATE = @EFFECTIVITYENDDATE,
				ISACTIVE = @ISACTIVE,
                		CompanyPrice = @CompanyPrice
		WHERE 	DISTID = @DISTID
			
	END