ALTER PROCEDURE [dbo].[uspCustomer]
	@CustomerDEL BIT = 0,
	@Comid VARCHAR(20) = '',
	@CustomerCD VARCHAR(20) = '',
	@CustomerNAME VARCHAR(255) = '',
	@DistribCD VARCHAR(20) = '',
	@CADD1 VARCHAR(255) = '',
	@CADD2 VARCHAR(255) = '',
	@Cmcont VARCHAR(20) = '',
	@Cmphon VARCHAR(20) = '',
	@VAT BIT = 0,
	@CDACD VARCHAR(20) = '',
	@ZIPCD VARCHAR(20) = '',
	@REGCD VARCHAR(20) = '',
	@DISTCD VARCHAR(20) = '',
	@AREACD VARCHAR(20) = '',
	@TERRCD VARCHAR(20) = '',
	@CMGRP VARCHAR(20) = '',
	@CMCLASS VARCHAR(20) = '',
	@AREACOVRG VARCHAR(20) = '',
	@ACCNTSHRD BIT  =0,
	@CRTDDTE DATETIME = '01/01/1900 00:00:00.000',
	@CRTDBY VARCHAR(50) = '',
	@ACTION VARCHAR(10) = '',
	@OLDCUSTCODE VARCHAR(20) = '',
	@EFFECTIVITYSTARTDATE DATETIME = '1/1/1900',
	@EFFECTIVITYENDDATE DATETIME = '1/1/1900',
	@ISACTIVE BIT = 1,
	@PHREGCD VARCHAR(50) = ''
AS
	IF @ACTION = 'ADD' BEGIN

		INSERT INTO [Customer] (CUSTOMERDEL, COMID, CUSTOMERCD, CUSTOMERNAME, DISTRIBCD, CADD1, CADD2,
						CMCONT, CMPHON, VAT, CDACD, ZIPCD, REGCD, DISTCD, AREACD, TERRCD,
						 CMGRP, CMCLASS, AREACOVRG, ACCNTSHRD, CRTDDTE, CRTDBY, EFFECTIVITYSTARTDATE, EFFECTIVITYENDDATE, ISACTIVE, PHREGCD)
		VALUES(@CustomerDEL,@Comid,@CustomerCD, @CustomerNAME,
			@DistribCD,@CADD1,@CADD2,@Cmcont,@Cmphon,@VAT,@CDACD,@ZIPCD,@REGCD,
			@DISTCD,@AREACD,@TERRCD,@CMGRP,@CMCLASS,@AREACOVRG,@ACCNTSHRD,
			 GETDATE(), @CRTDBY, @EFFECTIVITYSTARTDATE, @EFFECTIVITYENDDATE, @ISACTIVE, @PHREGCD)

	END ELSE IF @ACTION = 'UPDATE' BEGIN
		UPDATE [Customer]
		SET 	CustomerDEL = @CustomerDEL,
			Comid = @Comid,
			CMGRP = @CMGRP,
 			CustomerCD = @CustomerCD, 
 			CustomerNAME = @CustomerNAME,
			DistribCD = @DistribCD,
			CADD1 = @CADD1,
			CADD2 = @CADD2,
			Cmcont = @Cmcont,
			Cmphon = @Cmphon,
			VAT = @VAT,
			CDACD = @CDACD,
			ZIPCD = @ZIPCD,
			REGCD = @REGCD,
			DISTCD = @DISTCD,
			AREACD = @AREACD,
			TERRCD = @TERRCD,
			CMCLASS = @CMCLASS,
			AREACOVRG = @AREACOVRG,
			ACCNTSHRD = @ACCNTSHRD,
			CRTDDTE = CRTDDTE, 
			CRTDBY = @CRTDBY,
			EFFECTIVITYSTARTDATE = @EFFECTIVITYSTARTDATE, 
			EFFECTIVITYENDDATE = @EFFECTIVITYENDDATE,
			ISACTIVE = @ISACTIVE,
			PHREGCD = @PHREGCD
		WHERE	CustomerCD = @OLDCUSTCODE
		AND COMID = @COMID
		AND	CustomerDEL = 0

	END ELSE IF @ACTION = 'DELETE' BEGIN
			
			UPDATE Customer SET
				CustomerDEL = 1
			WHERE CustomerCD = @CustomerCD

	END










