if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Rawdata]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Rawdata]
GO

CREATE TABLE [dbo].[Rawdata] (
	[CompanyCode] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[BranchCode] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[BranchName] [varchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CustomerNumber] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CustomerName] [varchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CustomerAddress1] [varchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CustomerAddress2] [varchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[TransactionDate] [varchar] (8) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[InvoiceNumber] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[TransactionType] [varchar] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[ItemNumber] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[ItemDescription] [varchar] (3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[WarehouseNumber] [varchar] (3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Class] [varchar] (3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[QuantitySold] [int] NOT NULL ,
	[QuantityFree] [int] NOT NULL ,
	[GrossAmount] [money] NOT NULL ,
	[LineDiscount] [money] NOT NULL ,
	[ProductDiscount] [money] NOT NULL ,
	[VatCode] [varchar] (1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Route] [varchar] (6) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Taxes] [money] NOT NULL ,
	[Freight] [money] NOT NULL ,
	[Additional] [money] NOT NULL ,
	[NetAmount] [money] NOT NULL ,
	[UnitPrice] [money] NOT NULL ,
	[InvoiceReferenceNumber] [int] NOT NULL ,
	[CMCode] [varchar] (3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[SONumber] [int] NOT NULL ,
	[SODate] [int] NOT NULL ,
	[SOTerms] [varchar] (6) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[ExpiryDate] [int] NOT NULL ,
	[LotNumber] [varchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[SalesmanNumber] [varchar] (3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[SalesmanName] [varchar] (24) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[ShipToName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[ShipToAddress1] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[ShipToAddress2] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[ZipCode] [varchar] (6) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[TerritoryNumber] [varchar] (3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Area] [varchar] (3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CustomerClass] [varchar] (3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[ClassName] [varchar] (24) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[Principal] [varchar] (3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[SubPrincipal] [varchar] (6) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[PrincipalDivisionCode] [varchar] (3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[SalesWeek] [varchar] (1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[CustomerDeliveryCode] [varchar] (3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[ListPriceTaxInclude] [varchar] (9) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[ContractPrincipalApprovalNumber] [varchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[OrderType] [varchar] (1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[IsCode] [varchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Rawdata] ADD 
	CONSTRAINT [DF__Rawdata__Company__6498B3DB] DEFAULT ('') FOR [CompanyCode],
	CONSTRAINT [DF__Rawdata__BranchC__658CD814] DEFAULT ('') FOR [BranchCode],
	CONSTRAINT [DF__Rawdata__BranchN__6680FC4D] DEFAULT ('') FOR [BranchName],
	CONSTRAINT [DF__Rawdata__Custome__67752086] DEFAULT ('') FOR [CustomerNumber],
	CONSTRAINT [DF__Rawdata__Custome__686944BF] DEFAULT ('') FOR [CustomerName],
	CONSTRAINT [DF__Rawdata__Custome__695D68F8] DEFAULT ('') FOR [CustomerAddress1],
	CONSTRAINT [DF__Rawdata__Custome__6A518D31] DEFAULT ('') FOR [CustomerAddress2],
	CONSTRAINT [DF__Rawdata__Transac__6B45B16A] DEFAULT ('') FOR [TransactionDate],
	CONSTRAINT [DF__Rawdata__Invoice__6C39D5A3] DEFAULT ('') FOR [InvoiceNumber],
	CONSTRAINT [DF__Rawdata__Transac__6D2DF9DC] DEFAULT ('') FOR [TransactionType],
	CONSTRAINT [DF__Rawdata__ItemNum__6E221E15] DEFAULT ('') FOR [ItemNumber],
	CONSTRAINT [DF__Rawdata__ItemDes__6F16424E] DEFAULT ('') FOR [ItemDescription],
	CONSTRAINT [DF__Rawdata__Warehou__700A6687] DEFAULT ('') FOR [WarehouseNumber],
	CONSTRAINT [DF__Rawdata__Class__70FE8AC0] DEFAULT ('') FOR [Class],
	CONSTRAINT [DF__Rawdata__Quantit__71F2AEF9] DEFAULT ((-1)) FOR [QuantitySold],
	CONSTRAINT [DF__Rawdata__Quantit__72E6D332] DEFAULT ((-1)) FOR [QuantityFree],
	CONSTRAINT [DF__Rawdata__GrossAm__73DAF76B] DEFAULT (0) FOR [GrossAmount],
	CONSTRAINT [DF__Rawdata__LineDis__74CF1BA4] DEFAULT (0) FOR [LineDiscount],
	CONSTRAINT [DF__Rawdata__Product__75C33FDD] DEFAULT (0) FOR [ProductDiscount],
	CONSTRAINT [DF__Rawdata__VatCode__76B76416] DEFAULT ('') FOR [VatCode],
	CONSTRAINT [DF__Rawdata__Route__77AB884F] DEFAULT ('') FOR [Route],
	CONSTRAINT [DF__Rawdata__Taxes__789FAC88] DEFAULT (0) FOR [Taxes],
	CONSTRAINT [DF__Rawdata__Freight__7993D0C1] DEFAULT (0) FOR [Freight],
	CONSTRAINT [DF__Rawdata__Additio__7A87F4FA] DEFAULT (0) FOR [Additional],
	CONSTRAINT [DF__Rawdata__NetAmou__7B7C1933] DEFAULT (0) FOR [NetAmount],
	CONSTRAINT [DF__Rawdata__UnitPri__7C703D6C] DEFAULT (0) FOR [UnitPrice],
	CONSTRAINT [DF__Rawdata__Invoice__7D6461A5] DEFAULT ((-1)) FOR [InvoiceReferenceNumber],
	CONSTRAINT [DF__Rawdata__CMCode__7E5885DE] DEFAULT ('') FOR [CMCode],
	CONSTRAINT [DF__Rawdata__SONumbe__7F4CAA17] DEFAULT ((-1)) FOR [SONumber],
	CONSTRAINT [DF__Rawdata__SODate__0040CE50] DEFAULT ((-1)) FOR [SODate],
	CONSTRAINT [DF__Rawdata__SOTerms__0134F289] DEFAULT ('') FOR [SOTerms],
	CONSTRAINT [DF__Rawdata__ExpiryD__022916C2] DEFAULT ((-1)) FOR [ExpiryDate],
	CONSTRAINT [DF__Rawdata__LotNumb__031D3AFB] DEFAULT ('') FOR [LotNumber],
	CONSTRAINT [DF__Rawdata__Salesma__04115F34] DEFAULT ('') FOR [SalesmanNumber],
	CONSTRAINT [DF__Rawdata__Salesma__0505836D] DEFAULT ('') FOR [SalesmanName],
	CONSTRAINT [DF__Rawdata__ShipToN__05F9A7A6] DEFAULT ('') FOR [ShipToName],
	CONSTRAINT [DF__Rawdata__ShipToA__06EDCBDF] DEFAULT ('') FOR [ShipToAddress1],
	CONSTRAINT [DF__Rawdata__ShipToA__07E1F018] DEFAULT ('') FOR [ShipToAddress2],
	CONSTRAINT [DF__Rawdata__ZipCode__08D61451] DEFAULT ('') FOR [ZipCode],
	CONSTRAINT [DF__Rawdata__Territo__09CA388A] DEFAULT ('') FOR [TerritoryNumber],
	CONSTRAINT [DF__Rawdata__Area__0ABE5CC3] DEFAULT ('') FOR [Area],
	CONSTRAINT [DF__Rawdata__Custome__0BB280FC] DEFAULT ('') FOR [CustomerClass],
	CONSTRAINT [DF__Rawdata__ClassNa__0CA6A535] DEFAULT ('') FOR [ClassName],
	CONSTRAINT [DF__Rawdata__Princip__0D9AC96E] DEFAULT ('') FOR [Principal],
	CONSTRAINT [DF__Rawdata__SubPrin__0E8EEDA7] DEFAULT ('') FOR [SubPrincipal],
	CONSTRAINT [DF__Rawdata__Princip__0F8311E0] DEFAULT ('') FOR [PrincipalDivisionCode],
	CONSTRAINT [DF__Rawdata__SalesWe__10773619] DEFAULT ('') FOR [SalesWeek],
	CONSTRAINT [DF__Rawdata__Custome__116B5A52] DEFAULT ('') FOR [CustomerDeliveryCode],
	CONSTRAINT [DF__Rawdata__ListPri__125F7E8B] DEFAULT ('') FOR [ListPriceTaxInclude],
	CONSTRAINT [DF__Rawdata__Contrac__1353A2C4] DEFAULT ('') FOR [ContractPrincipalApprovalNumber],
	CONSTRAINT [DF__Rawdata__OrderTy__1447C6FD] DEFAULT ('') FOR [OrderType],
	CONSTRAINT [DF__Rawdata__IsCode__153BEB36] DEFAULT ('') FOR [IsCode]
GO

