USE [SPMSOPCIY2024]
GO
/****** Object:  Table [dbo].[EmployeeSalesman]    Script Date: 11/18/2024 10:19:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeSalesman](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [varchar](25) NOT NULL,
	[FirstName] [varchar](125) NOT NULL,
	[LastName] [varchar](125) NOT NULL,
	[MiddleName] [varchar](125) NOT NULL,
	[PhoneNumber] [varchar](13) NOT NULL,
	[Gender] [varchar](25) NOT NULL,
	[Email] [varchar](200) NOT NULL,
	[Position] [varchar](100) NOT NULL,
	[Address1] [nvarchar](255) NOT NULL,
	[Address2] [nvarchar](255) NOT NULL,
	[DateEntry] [date] NOT NULL,
	[DateHired] [date] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Createby] [varchar](100) NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[Updateby] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EmployeeSalesman] ON 

INSERT [dbo].[EmployeeSalesman] ([EmployeeID], [EmployeeCode], [FirstName], [LastName], [MiddleName], [PhoneNumber], [Gender], [Email], [Position], [Address1], [Address2], [DateEntry], [DateHired], [IsActive], [IsDeleted], [CreateDate], [Createby], [UpdateDate], [Updateby]) VALUES (1, N'EMP_0004', N'NIDEA', N'HAZEL', N'', N'', N'Female', N'', N'Professional Medical Representative', N'', N'', CAST(N'2024-02-28' AS Date), CAST(N'2024-02-28' AS Date), 0, 1, CAST(N'2024-02-28T16:13:14.520' AS DateTime), N'', CAST(N'2024-02-28T16:13:40.763' AS DateTime), N'')
INSERT [dbo].[EmployeeSalesman] ([EmployeeID], [EmployeeCode], [FirstName], [LastName], [MiddleName], [PhoneNumber], [Gender], [Email], [Position], [Address1], [Address2], [DateEntry], [DateHired], [IsActive], [IsDeleted], [CreateDate], [Createby], [UpdateDate], [Updateby]) VALUES (2, N'AB-SOM-103', N'MUN EVHAN', N'CAIN', N'', N'', N'Male', N'', N'Professional Medical Representative', N'', N'', CAST(N'2024-06-13' AS Date), CAST(N'2024-06-13' AS Date), 0, 1, CAST(N'2024-06-13T09:30:26.310' AS DateTime), N'', CAST(N'2024-06-13T09:30:26.310' AS DateTime), N'')
INSERT [dbo].[EmployeeSalesman] ([EmployeeID], [EmployeeCode], [FirstName], [LastName], [MiddleName], [PhoneNumber], [Gender], [Email], [Position], [Address1], [Address2], [DateEntry], [DateHired], [IsActive], [IsDeleted], [CreateDate], [Createby], [UpdateDate], [Updateby]) VALUES (3, N'C-SOM-103', N'JOSEPHINE', N'GATERIN', N'', N'', N'', N'', N'Professional Medical Representative', N'', N'', CAST(N'2024-06-13' AS Date), CAST(N'2024-06-13' AS Date), 0, 1, CAST(N'2024-06-13T09:31:11.263' AS DateTime), N'', CAST(N'2024-06-13T09:31:11.263' AS DateTime), N'')
GO
SET IDENTITY_INSERT [dbo].[EmployeeSalesman] OFF
GO
ALTER TABLE [dbo].[EmployeeSalesman] ADD  DEFAULT ('') FOR [EmployeeCode]
GO
ALTER TABLE [dbo].[EmployeeSalesman] ADD  DEFAULT ('') FOR [FirstName]
GO
ALTER TABLE [dbo].[EmployeeSalesman] ADD  DEFAULT ('') FOR [LastName]
GO
ALTER TABLE [dbo].[EmployeeSalesman] ADD  DEFAULT ('') FOR [MiddleName]
GO
ALTER TABLE [dbo].[EmployeeSalesman] ADD  DEFAULT ('') FOR [PhoneNumber]
GO
ALTER TABLE [dbo].[EmployeeSalesman] ADD  DEFAULT ('') FOR [Gender]
GO
ALTER TABLE [dbo].[EmployeeSalesman] ADD  DEFAULT ('') FOR [Email]
GO
ALTER TABLE [dbo].[EmployeeSalesman] ADD  DEFAULT ('') FOR [Position]
GO
ALTER TABLE [dbo].[EmployeeSalesman] ADD  DEFAULT ('') FOR [Address1]
GO
ALTER TABLE [dbo].[EmployeeSalesman] ADD  DEFAULT ('') FOR [Address2]
GO
ALTER TABLE [dbo].[EmployeeSalesman] ADD  DEFAULT ('01/01/1900') FOR [DateEntry]
GO
ALTER TABLE [dbo].[EmployeeSalesman] ADD  DEFAULT ('01/01/1900') FOR [DateHired]
GO
ALTER TABLE [dbo].[EmployeeSalesman] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EmployeeSalesman] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[EmployeeSalesman] ADD  DEFAULT ('01/01/1900 00:00:00.000') FOR [CreateDate]
GO
ALTER TABLE [dbo].[EmployeeSalesman] ADD  DEFAULT ('') FOR [Createby]
GO
ALTER TABLE [dbo].[EmployeeSalesman] ADD  DEFAULT ('01/01/1900 00:00:00.000') FOR [UpdateDate]
GO
ALTER TABLE [dbo].[EmployeeSalesman] ADD  DEFAULT ('') FOR [Updateby]
GO
