USE [SPMSOPCIY2024]
GO
/****** Object:  Table [dbo].[EmployeeSalesmanCollection]    Script Date: 11/18/2024 10:20:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeSalesmanCollection](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[TerritoryCode] [varchar](25) NOT NULL,
	[ConfigtypeCode] [varchar](25) NOT NULL,
	[EffectivityStartDate] [date] NOT NULL,
	[EffectivityEndDate] [date] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Createby] [varchar](100) NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[Updateby] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EmployeeSalesmanCollection] ON 

INSERT [dbo].[EmployeeSalesmanCollection] ([ID], [EmployeeID], [TerritoryCode], [ConfigtypeCode], [EffectivityStartDate], [EffectivityEndDate], [CreateDate], [Createby], [UpdateDate], [Updateby]) VALUES (2052, 17, N'AB-NL-201', N'Y2024', CAST(N'2024-06-30' AS Date), CAST(N'2024-12-31' AS Date), CAST(N'2024-09-17T13:51:17.170' AS DateTime), N'', CAST(N'2024-09-17T13:51:17.170' AS DateTime), N'')
INSERT [dbo].[EmployeeSalesmanCollection] ([ID], [EmployeeID], [TerritoryCode], [ConfigtypeCode], [EffectivityStartDate], [EffectivityEndDate], [CreateDate], [Createby], [UpdateDate], [Updateby]) VALUES (2563, 28, N'AB-SGM-201', N'Y2024', CAST(N'2024-01-01' AS Date), CAST(N'2024-10-31' AS Date), CAST(N'2024-11-12T11:26:45.043' AS DateTime), N'', CAST(N'2024-11-12T11:26:45.043' AS DateTime), N'')
INSERT [dbo].[EmployeeSalesmanCollection] ([ID], [EmployeeID], [TerritoryCode], [ConfigtypeCode], [EffectivityStartDate], [EffectivityEndDate], [CreateDate], [Createby], [UpdateDate], [Updateby]) VALUES (811, 33, N'AB-SOM-102', N'Y2024', CAST(N'2024-01-01' AS Date), CAST(N'2024-12-31' AS Date), CAST(N'2024-08-15T15:40:01.617' AS DateTime), N'', CAST(N'2024-08-15T15:40:01.617' AS DateTime), N'')
GO
SET IDENTITY_INSERT [dbo].[EmployeeSalesmanCollection] OFF
GO
